button {
    background-color: #eff3f6;
    background-image: linear-gradient(-180deg, #fafbfc, #eff3f6 90%);
    color: #24292e;
    font-size: 18px;
    padding: 0.35rem 1.25rem;
    border-radius: 0.3rem;
    cursor: pointer;
    &:disabled {
        opacity: 0.5;
    pointer-events: none;
    }
}

:host {
    display: flex;
    align-items: stretch;
    justify-content: stretch;
    align-self: stretch;
}